.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300px;
  margin: auto;
}
.case {
  margin: 3px;
  background-color: beige;
  border: 2px solid black;
  height: 100px;
  font-size: 50px;
}
